<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenlong.hope">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Information.GymInfo"
            android:label="@string/fillIn" />
        <activity
            android:name=".Calendar.GymCalendar"
            android:label="@string/Choose_Date" />
        <activity
            android:name=".Calendar.HydroCalendar"
            android:label="@string/Choose_Date" />
        <activity
            android:name=".Calendar.StrongmanCalendar"
            android:label="@string/Choose_Date" />
        <activity
            android:name=".Information.HydroInfo"
            android:label="@string/fillIn" />
        <activity
            android:name=".Information.StrongmanInfo"
            android:label="@string/fillIn" />
        <activity android:name=".Confirmation.GymConfirmation"
            android:label="@string/BookingConfirmation"/>
        <activity android:name=".Confirmation.HydroConfirmation"
            android:label="@string/BookingConfirmation"/>
        <activity android:name=".Confirmation.StrongmanConfirmation"
            android:label="@string/BookingConfirmation"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCVplSKQZHVSmUYd-HmdXRV4OmukcdrZY" />

    </application>
    <uses-feature
         android:glEsVersion="0x00020000"
         android:required="true" />
</manifest>